{% extends "layouts/product.njk" %}

{% block content %}
  {{ content }}
  {# Paginate posts if front matter includes the pagination key #}
  {% if pagination %}
    <div class="govuk-grid-row">
      <section class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l govuk-!-font-size-27">
          {{ posts.title or app.posts.title or "Posts" }}
        </h2>
        {{ appDocumentList({
          classes: "app-document-list--large",
          items: pagination.items
        }) }}
        {{ govukPagination({
          previous: {
            href: pagination.href.previous
          },
          next: {
            href: pagination.href.next
          },
          items: pagination | itemsFromPagination
        }) if pagination.pages.length > 1 }}
      </section>
    </div>
    {% if aside or related %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          {% include "layouts/shared/related.njk" %}
        </div>
      </div>
    {% endif %}
  {# List sections (pages with a parent that is the homepage) if homepage has no pagination key set #}
  {% elif eleventyNavigation.key == options.homeKey %}

    {% set sections = [
      { title: "Screening", services: [
        "Bowel screening",
        "Cohort manager",
        "Explore team",
        "Manage breast screening",
        "Manage your screening",
        "HPV self-sampling",
        "Invite",
        "Breast screening reporting team"
      ] },
      { title: "Vaccinations", services: [
        "Vaccinations",
        "Book a vaccination",
        "Manage vaccinations in schools",
        "Manage your appointments",
        "Record a vaccination",
        "Select people for invitation",
        "Vaccinations in the App"
      ] },
      { title: "Personalised prevention", services: [
        "Personalised prevention",
        "Lung health check",
        "Personalised prevention platform",
        "Smoking cessation"
      ] }
    ] %}

    {% for section in sections %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">
            {{ section.title }}
          </h2>
        </div>
      </div>

      {% for batch in section.services | batch(2) %}
        <div class="govuk-grid-row">
        {% for service in batch %}
          {% for item in collections.all | eleventyNavigation(options.homeKey) %}
            {% if (service == item.title)  %}
              <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
                  <a href="{{ item.url | pretty }}">{{ item.title }}</a>
                </h3>
                <p class="govuk-body">{{ item.excerpt }}</p>
              </section>
            {% endif %}
          {% endfor %}
        {% endfor %}
        </div>
      {% endfor %}
    {% endfor %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        {% for item in collections.all | eleventyNavigation(options.homeKey) %}
          {% if ("Guide" == item.title)  %}
            <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
              <a href="{{ item.url | pretty }}">{{ item.title }}</a>
            </h3>
            <p class="govuk-body">{{ item.excerpt }}</p>
          {% endif %}
        {% endfor %}
      </div>
    </div>

  {% endif %}
{% endblock %}
