@use "pkg:nhsuk-frontend/dist/nhsuk" as *;

@forward "pkg:@x-govuk/nhsuk-eleventy-plugin";

@forward "../_components";

// App-specific prose styles
.app-prose-scope {
  .nhsuk-image {
    width: 100%;
  }

  .nhsuk-image__img {
    padding: nhsuk-spacing(2);
  }

  // Class to allow full-width, breaking out of the grid
  // add to a lone element (ie img) or a container (ie figure)
  .app-media--full-width {
    width: 92vw;
    max-width: 960px;

    figcaption {
      max-width: 44em;
    }
  }
}
